@import 'colors.scss';

.container-footer{
    align-items: center;
    background-color: $Very-Dark-Violet;
    display: flex;
    height: 300px;
    justify-content: space-evenly;
    

    .logo-footer{
        align-items: flex-start;
        height: 40%;
        display: flex;
    }
    .contenedor-prueba{
        display: flex;
        
        .caracteristicas{
            display: flex;
            justify-content: space-around;
            
    
            .menu-caract{
                margin-left: 60px;
                padding: 0;
    
                .titulos-caracteristicas{
                    color: white;
                }
            
                .opciones-caract{
                    color: $Gray;
                    font-size: 14px;
                    padding: 0;
                    margin: 10px 0;
                }

                .opciones-caract:hover{
                    color: $Cyan;
                    cursor: pointer;
                }
            }
        }
    
        .redes-sociales{
            align-items:flex-start;
            display: flex;
            justify-content: space-evenly; 
            margin-left: 70px;
            
        
            .logo-redes{
            height: 20px;
            margin-left: 15px;
            margin-top: 40px;
            width: 20px;
            }

            .logo-redes:hover{
                cursor: pointer;
                background-color: $Cyan;
                
            }

        }

    }
    
}

@media screen and (max-width: 376px){
    .container-footer{
        display: flex;
        flex-direction: column;
        height: 100%;
        position: relative;
        top: -330px;

        .logo-footer{
            margin-bottom: 20px;
            margin-top: 40px;
        }

        .contenedor-prueba{
            display: flex;
            flex-direction: column;
        
            .caracteristicas{
                display: flex;
                flex-direction: column;

                .menu-caract{
                   margin: 0;
                   text-align: center;

                   .titulos-caracteristicas{
                    font-size: 15px;
                   }

                   .opciones-caract{
                    font-size: 10px;
                   }
                }
                
            }

            .redes-sociales{
                margin: 0;
                margin-bottom: 50px;
            }
        }
    }
}