@import 'colors.scss';

.contenedor-link{
    align-items: center;
    background-color: white;
    display: flex;
    max-height: 50px;
    max-width: 800px;
    width: 100%;
    height: 100%;
    margin: auto;
    position: relative;
    bottom: -80px;
    border-radius: 7px;

    .link-cortar{
        max-width: 500px;
        width: 60%;
        margin-left: 20px;
        font-size: 12px;
        

    }

    .link-resultado{
        max-width: 250px;
        width: 25%;
        color: $Cyan;
        font-size: 12px;
    }
    .linea-link-corto{
        display: none;
    }

    .boton-copiar{
        background-color: $Cyan;
        height: 30px;
        color: white;
        border: 1px solid $Cyan;
        border-radius: 5px;
        max-width: 70px;
        width: 15%;
        font-size: 10px;
        

    }

    button.copied{
        background-color: $Dark-Violet;
        height: 30px;
        
    }

    

}

@media screen and (max-width:550px) {
    .contenedor-link{
        width: 90%;
        max-height: 600px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-top: 20px;

        .link-cortar{
            max-width: 300px;
            width: 90%;
            margin:0;
            font-size: 12px;
            display: flex;
            
    
        }

        .linea-link-corto{
            display: flex;
            border: 1px solid $Gray;
            max-width: 400px;
            width: 100%;
        }
    
        .link-resultado{
           
            width: 90%;
            max-width: 300px;
            color: $Cyan;
            font-size: 12px;
            text-align: left;
        }
    
        .boton-copiar{
          width: 100%;
          max-width: 300px;
        }
    }
    
}