@import '_colors.scss';

.container-navBar{
    display: flex;
    justify-content: space-evenly;
    height: 40px;
    width: 100%;
    
    .container-opciones{
        align-items: center;
        display: flex;
        justify-content: center;
        width: 50%;
        
        .logo{
            height: 30px;
            margin-right: 40px;
        }
        
        .opciones{
            align-items: center;
            display: flex;

            .seleccion-opciones{
                color: $Grayish-Violet;
                font-family: poppins;
                font-size: 15px;
                margin: auto 15px;   
            }

            .seleccion-opciones:hover{
                color: black;
                cursor: pointer;
            }
            
        }
    }

    .login-registro{
        align-items: center;
        color: $Grayish-Violet;
        display: flex;
        justify-content: center;
        font-size: 15px;
        width: 50%;

        .login:hover{
            cursor: pointer;
            background-color: $Cyan-Claro;
        }
    
        .registro{
            align-items: center;
            background-color: $Cyan;
            border: 1px solid $Cyan;
            border-radius: 25px;
            color: white;
            display: flex;
            height: 35px;
            justify-content: center;
            margin-left: 30px;
            width: 80px;
        }

    }
}